<div class="card">
    <div class="card-body">
        <h5 class="titulo">CREAR TARJETA</h5>
        <form [formGroup]="form" (ngSubmit)="CrearTarjeta()">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fas fa-circle-user"></i>
                </span>
                <input type="text" class="form-control" placeholder="Titular" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="titular">
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fas fa-credit-card"></i>
                </span>
                <input type="text" class="form-control" placeholder="NumeroTarjeta" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="nroTarjeta" maxlength="16">
            </div>
            <div class="row">
                <div class="col lg 7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="MM/YY" aria-label="Username"
                            aria-describedby="basic-addon1" formControlName="fechaExpiracion" maxlength="5">
                    </div>
                </div>
                <div class="col lg5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="CVV" aria-label="Username"
                            aria-describedby="basic-addon1" formControlName="titular" maxlength="3">
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-success btn-lg" type="submit">
                    <i class="fas fa-database"></i>
                    Aceptar</button>
            </div>
        </form>
    </div>
</div>